


body{
    font-family: "PT Sans Caption", sans-serif;
}

h1{
    font-family: "Pacifico", cursive;
    position: relative;
    z-index: 9999;
   
    
}
h1::before{
    position: absolute;
    content: "";
    width: 20%;
    height: 25%;
    bottom:0;
    left:50%;
    background-color: #FEC260;
    transform: translate(-50%);
    transition: 1s all;
 z-index: -1;
 

}


h1:hover::before{
    height: 70%;
}
.test{
    background-color: #F7ECDE;
    height: 100vh;
}
.lightHouse{
    
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.one{
    color: red;
}
.two{
    color: #FEC260 ;
}
.three{
    color: #3ca55c;
}

.container .hero{
    border-bottom: 2px dotted black;
}
.close{
    position: absolute;
    top: 0;
   right:0;
    cursor: pointer;
    padding: 10px;
}

.container div h3{
    font-family: "Righteous", sans-serif;
    background-image:  linear-gradient(to right, #3ca55c 30%, #b5ac49 70%);
    font-size: 25px;
font-weight: 500;
    color: transparent;
    background-clip: text;
   
}

.bg-light{
    opacity: 1;
    background-color:rgba(248, 249, 250, 0.5) !important;
}
.form-control:focus{
    border-color: #FEC260 !important;
    box-shadow: 2px 2px 7px #FEC260  !important ;
}
.hero label{
    font-size: 14px;
    padding:15px 5px;
    font-weight: 700;
}

.hero label i{
    padding: 0 5px;
}


